:root {
  --color-white: #ffffff;
  --bg-header: #DDE0BD;
  --color-blue: #1C8AD9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-white);
}

/* --- gloabal --- */
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* main */
#main {
  width: 100%;
}

/* header */
.header {
  background-color: var(--bg-header);
  text-align: center;
  width: 100%;
}

  .header #title {
    font-weight: 700;
    padding-top: 1em;
  }

  #description {
    padding-bottom: 1em ;
  }

/* figure */
#img-div {
  background-color: var(--bg-header);
  margin-bottom: 1em;
  text-align: center;
}

figure #image {
  max-width: 100%;
  display: block;
  
}
figure #img-caption {
  
  font-weight: 700;
}

/* section */
#tribute-info {
  margin: 0 auto;
  width: 50%;
}

section .list {}

.list li {
  list-style-type: none;
  padding-bottom: 0.5em;

}
.list li a {
}


/* footer */
.footer {
  width: 100%;
  text-align: center;
  background-color: var(--bg-header);
}
.footer #tribute-link {
  padding-bottom: 1em;
  padding-top: 1em;
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 700;
}
